<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task-4.0.xsd">


    <context:annotation-config />
    <!-- 自动调度需要扫描的包 -->
    <context:component-scan base-package="spring.task.annotation" ></context:component-scan>
    <!-- 定时器开关 -->
    <task:executor id="executorTest" pool-size="5"/>
    <task:executor id="poolTaskExecutor" pool-size="3"/>

    <task:scheduler id="schedulerTest" pool-size="10"/>
    <task:annotation-driven executor="executorTest" scheduler="schedulerTest"/>


    <task:scheduled-tasks scheduler="schedulerTest">
        <task:scheduled ref="helloAnnotationService" method="sayHelloByFrench" initial-delay="2000" fixed-delay="2000"/>
        <task:scheduled ref="helloAnnotationService" method="sayHelloByChinese"  initial-delay="2000" fixed-delay="2000"/>
        <task:scheduled ref="helloAnnotationService" method="sayHelloByEnglish" initial-delay="2000" fixed-delay="2000"/>
    </task:scheduled-tasks>
</beans>